header{
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 75%,rgba(2,0,36,1)  100%);
    color: white;
    font-weight: bold;
    text-align: center;
}

.container{
    display:flex;
    justify-content:space-around;
}
.search-section{
    width: 30%;
}

.city-input{
    width: 68.5%;
}

.btn-search{
    background-color:rgb(0,212,255) ;
    color:white;
    margin: 1% 0%;
    width: 68.5%;

}

.search-history-container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid gainsboro;
}


.search-history-container button{
    background-color: grey;
    width: 68.5%;
}

.forecast-section{
    width: 70%;
}
.today-forecast{
    border: 1px solid black;
    padding: 0px;
}
.five-day-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.five-day{
    background-color: rgb(2,0,36,0.80);
    color: white;
    padding: 2%;
    margin: 1%;
}

.forecast-date{
    font-weight: bold;
}