header{
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 75%,rgba(2,0,36,1)  100%);
    color: white;
    font-weight: bold;
    text-align: center;
}

.container{


}
/* .search-section{

}

.city-input{
    
} */

/* .btn-search{
    background-color:rgb(0,212,255) ;
    color:white;


} */

.search-history-container{
    display: flex;
    flex-direction: column;
 
}
hr{

    text-align: left;

 
}
/* 
.search-history-container button{
    background-color: grey;

} */

/* .forecast-section{
   
} */
.today-forecast{
    border: 1px solid black;
    padding: 0px;
}
.five-day-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.five-day{
    background-color: rgb(2,0,36,0.80);
    color: white;
  


}

.forecast-date{
    /* font-weight: bold; */
}